@model List<Producto>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope ="col">Precio</th>
                <th scope="col">Categoría</th>
            </tr>
        </thead>
       <tbody>
        @foreach(var p in Model)
        {
            <tr>
                <td>@p.Id</td>
                <td>@p.Nombre</td>
                <td>@p.Precio</td>
                <td>@p.Categoria.Nombre</td>
            </tr>    
        }
        </tbody>

    </table>
