@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Este es el proyecto de <b>Bodega</b> para el control de Productos y Categorias</a>.</p>
</div>
