@model List<productosApp.Models.Categoria>

<div style="margin:auto" class="col-6">
    <table class="table table-bordered border-primary">
    <thead>
        <th>Nombre</th>
        <th>N° Productos</th>
    </thead>
    <tbody>
            @foreach (var categoria in Model) 
            {
                <tr>
                    <td>@categoria.Nombre</td>
                    @if(categoria.Productos != null)
                    {
                        <td>@categoria.Productos.Count()</td>              
                    }else{
                        <td>Sin productos</td>
                    }
                </tr>
            }
    </tbody>
</table>
</div>