@model List<productosApp.Models.Producto>

<div style="margin:auto">
   <table class="table table-bordered border-primary">
    <thead>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Categoria</th>
    </thead>
    <tbody>
            @foreach (var Producto in Model) 
            {
          <tr>
                <td>@Producto.Nombre</td>
                <td>@Producto.Precio</td>
                <td>@Producto.Categoria</td>
                
          </tr>
        }
    </tbody>
</table>
</div>